.item {
    text-decoration: none;
    color: midnightblue;
    margin: 10px;

}

.item:hover {
    color: limegreen;
}

.main {
    display: flex;
    transform: translate(-320px);
   transition-duration: 5s;
    padding: 15px;
    width: 50px;

}

.main:hover {
   transition-duration: 5s;
    transform: translate(0);
}

.block {
    margin: 10px;
    color: midnightblue;
}